:root {
    --reddit-blue: #0079D3;
    --reddit-orange: #FF5700;
    --reddit-grey: rgba(0, 0, 0, 0.0975);
    --reddit-light-grey:  rgba(0, 0, 0, 0.041);
    --reddit-bg-color: #f1f1f7;
    --body-text-size: 12px;
    --alt-text-color:  rgba(0, 0, 0, 0.65);
}

#loginError {
    display:none;
}

.errorText {
    font-style: italic;
    color:#FF5700;
}

.textInput {
    background-color: var(--reddit-bg-color);
    font: inherit;
    font-size: var(--body-text-size);
    border: none;
    padding: 7.5px 15px;
    outline: none;
    border: 1px solid var(--reddit-grey);
    border-radius: 4px;
    width: 80%;
    margin: 10px auto ;
}

.textInput::placeholder {
    letter-spacing: 0.5px;
    font-size: var(--body-text-size);
}

.textInput:focus {
    background-color: white;
    border-color: var(--reddit-blue);
}

.textInputThin {
    background-color: var(--reddit-bg-color);
    font: inherit;
    font-size: var(--body-text-size);
    border: none;
    padding: 7.5px 15px;
    outline: none;
    border: 1px solid var(--reddit-grey);
    border-radius: 4px;
    width: 36.5%;
    margin: 10px 2% ;
}

.textInputThin::placeholder {
    letter-spacing: 0.5px;
    font-size: var(--body-text-size);
}

.textInputThin:focus {
    background-color: white;
    border-color: var(--reddit-blue);
}

.textArea {
    background-color: var(--reddit-bg-color);
    font: inherit;
    font-size: var(--body-text-size);
    border: none;
    padding: 7.5px 15px;
    outline: none;
    border: 1px solid var(--reddit-grey);
    border-radius: 4px;
    width: 80%;
    min-height:100px;
    max-height: 400px;
    resize: none;
    margin: 10px auto ;
    overflow-y:auto;
}

.textArea::placeholder {
    letter-spacing: 0.5px;
    font-size: var(--body-text-size);
}

.textArea:focus {
    background-color: white;
    border-color: var(--reddit-blue);
}

.fileInput {
    margin: 10px;
}


#signUp {
    color:#0079D3;
}

#signUp:hover {
    cursor: pointer;
}

#sideImage {
    left: 0;
    border-radius: 5px 0px 0px 5px ;
}

.right {
    width: auto;
    padding: 20px;
    width:300px;
    height:100%;
}
